langchain
langchain-groq
langchain-ollama
fpdf2
langchain_text_splitters
langchain_community
langchain_core
langgraph
streamlit
mcp
mcp-use
bs4
pypdf
langchain-mcp-adapters
faiss-cpu
arxiv
wikipedia
pypdf 
pdfdocument
pymupdf 
docx2txt 
html2text
deepagents
jq
sentence_transformers
fastapi